# Split &bull; Apply &bull; Combine 
 - First the dataframe is split into groups based upon one or more keys. This split can be along either axis (axis=0:rows, or axis=1:columns).
 - Then a function is applied to each group producing a new value
 - Finally the results of these operations are combinded into a result obkect

In [38]:
import numpy as np 
import pandas as pd 

#read some us census data
df = pd.read_csv('../resources/week-3/datasets/census.csv')

#limit the dataset to sumlev > 40
df = df[df['SUMLEV']>40]
#df is equal to df where sumlev of df is greater than 50 
df.columns

Index(['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME',
       'CENSUS2010POP', 'ESTIMATESBASE2010', 'POPESTIMATE2010',
       'POPESTIMATE2011', 'POPESTIMATE2012', 'POPESTIMATE2013',
       'POPESTIMATE2014', 'POPESTIMATE2015', 'NPOPCHG_2010', 'NPOPCHG_2011',
       'NPOPCHG_2012', 'NPOPCHG_2013', 'NPOPCHG_2014', 'NPOPCHG_2015',
       'BIRTHS2010', 'BIRTHS2011', 'BIRTHS2012', 'BIRTHS2013', 'BIRTHS2014',
       'BIRTHS2015', 'DEATHS2010', 'DEATHS2011', 'DEATHS2012', 'DEATHS2013',
       'DEATHS2014', 'DEATHS2015', 'NATURALINC2010', 'NATURALINC2011',
       'NATURALINC2012', 'NATURALINC2013', 'NATURALINC2014', 'NATURALINC2015',
       'INTERNATIONALMIG2010', 'INTERNATIONALMIG2011', 'INTERNATIONALMIG2012',
       'INTERNATIONALMIG2013', 'INTERNATIONALMIG2014', 'INTERNATIONALMIG2015',
       'DOMESTICMIG2010', 'DOMESTICMIG2011', 'DOMESTICMIG2012',
       'DOMESTICMIG2013', 'DOMESTICMIG2014', 'DOMESTICMIG2015', 'NETMIG2010',
       'NETMIG2011', 'NETMIG2012', 'NETMIG2013', 'NETMIG2014', 'NETMIG2015',
       'RESIDUAL2010', 'RESIDUAL2011', 'RESIDUAL2012', 'RESIDUAL2013',
       'RESIDUAL2014', 'RESIDUAL2015', 'GQESTIMATESBASE2010',
       'GQESTIMATES2010', 'GQESTIMATES2011', 'GQESTIMATES2012',
       'GQESTIMATES2013', 'GQESTIMATES2014', 'GQESTIMATES2015', 'RBIRTH2011',
       'RBIRTH2012', 'RBIRTH2013', 'RBIRTH2014', 'RBIRTH2015', 'RDEATH2011',
       'RDEATH2012', 'RDEATH2013', 'RDEATH2014', 'RDEATH2015',
       'RNATURALINC2011', 'RNATURALINC2012', 'RNATURALINC2013',
       'RNATURALINC2014', 'RNATURALINC2015', 'RINTERNATIONALMIG2011',
       'RINTERNATIONALMIG2012', 'RINTERNATIONALMIG2013',
       'RINTERNATIONALMIG2014', 'RINTERNATIONALMIG2015', 'RDOMESTICMIG2011',
       'RDOMESTICMIG2012', 'RDOMESTICMIG2013', 'RDOMESTICMIG2014',
       'RDOMESTICMIG2015', 'RNETMIG2011', 'RNETMIG2012', 'RNETMIG2013',
       'RNETMIG2014', 'RNETMIG2015'],
      dtype='object')

to get the average estimated population (POPESTIMATE2010) by state(STNAME), first:
### Split

In [36]:
# first step is to split the data into state name groups. 
grouped = df['POPESTIMATE2010'].groupby(df['STNAME'])
grouped
# This is the end of the split stage. At this stage nothing has been computed yet, but the GroupBy object has been created which has all the information needed to Apply a transformation to each of the groups

after the groups have been defined and split, you can
### Transform & Combine

In [37]:
# calculate the mean of groups (estimated state population grouped by state)
grouped.mean()

STNAME
Alabama                  71420.313433
Alaska                   24621.413793
Arizona                 427213.866667
Arkansas                 38965.253333
California              643691.017241
Colorado                 78878.968750
Connecticut             447464.625000
Delaware                299930.333333
District of Columbia    605126.000000
Florida                 281341.641791
Georgia                  61090.905660
Hawaii                  272796.000000
Idaho                    35704.227273
Illinois                125894.598039
Indiana                  70549.891304
Iowa                     30815.090909
Kansas                   27226.895238
Kentucky                 36232.808333
Louisiana                71014.859375
Maine                    82980.937500
Maryland                241183.708333
Massachusetts           468931.142857
Michigan                119004.445783
Minnesota                61044.862069
Mississippi              36223.365854
Missouri                 52139.582609
Montana                  17690.053571
Nebraska                 19677.688172
Nevada                  159025.882353
New Hampshire           131670.800000
New Jersey              419232.428571
New Mexico               62567.909091
New York                312950.322581
North Carolina           95589.790000
North Dakota             12726.981132
Ohio                    131145.068182
Oklahoma                 48825.922078
Oregon                  106610.333333
Pennsylvania            189731.552239
Rhode Island            210643.800000
South Carolina          100780.304348
South Dakota             12368.166667
Tennessee                66911.421053
Texas                    99387.255906
Utah                     95704.344828
Vermont                  44713.142857
Virginia                 60344.263158
Washington              172898.974359
West Virginia            33713.181818
Wisconsin                79030.611111
Wyoming                  24544.173913
Name: POPESTIMATE2010, dtype: float64

In [46]:
# groupby can be passed multiple keys. When passed as separate df's it produces a hierachical list
# means = df['BIRTHS2010'].groupby([df['REGION'], df['STNAME']]).mean()
means = df['BIRTHS2010'].groupby([df['STNAME'], df['REGION']]).mean()
means

STNAME                REGION
Alabama               3          212.328358
Alaska                4           99.724138
Arizona               4         1395.800000
Arkansas              3          125.853333
California            4         2126.275862
Colorado              4          262.359375
Connecticut           1         1186.125000
Delaware              3          949.000000
District of Columbia  3         2243.000000
Florida               3          759.283582
Georgia               3          204.333333
Hawaii                4          929.200000
Idaho                 4          135.704545
Illinois              2          410.156863
Indiana               2          227.836957
Iowa                  2          100.676768
Kansas                2           95.161905
Kentucky              3          114.091667
Louisiana             3          227.703125
Maine                 1          215.187500
Maryland              3          769.208333
Massachusetts         1         1331.928571
Michigan              2          350.626506
Minnesota             2          201.149425
Mississippi           3          114.890244
Missouri              2          165.321739
Montana               4           54.785714
Nebraska              2           70.053763
Nevada                4          523.058824
New Hampshire         1          326.900000
New Jersey            1         1263.285714
New Mexico            4          201.484848
New York              1          990.548387
North Carolina        3          299.140000
North Dakota          2           44.169811
Ohio                  2          395.556818
Oklahoma              3          170.701299
Oregon                4          329.916667
Pennsylvania          1          538.820896
Rhode Island          1          575.000000
South Carolina        3          308.260870
South Dakota          2           45.939394
Tennessee             3          206.978947
Texas                 3          365.224409
Utah                  4          474.206897
Vermont               1          118.142857
Virginia              3          193.368421
Washington            4          570.358974
West Virginia         3           92.800000
Wisconsin             2          243.861111
Wyoming               4           86.739130
Name: BIRTHS2010, dtype: float64

In [47]:
# the keys can be converted to to colmumns using the unstack function
means.unstack()

REGION                          1           2            3            4
STNAME
Alabama                       NaN         NaN   212.328358          NaN
Alaska                        NaN         NaN          NaN    99.724138
Arizona                       NaN         NaN          NaN  1395.800000
Arkansas                      NaN         NaN   125.853333          NaN
California                    NaN         NaN          NaN  2126.275862
Colorado                      NaN         NaN          NaN   262.359375
Connecticut           1186.125000         NaN          NaN          NaN
Delaware                      NaN         NaN   949.000000          NaN
District of Columbia          NaN         NaN  2243.000000          NaN
Florida                       NaN         NaN   759.283582          NaN
Georgia                       NaN         NaN   204.333333          NaN
Hawaii                        NaN         NaN          NaN   929.200000
Idaho                         NaN         NaN          NaN   135.704545
Illinois                      NaN  410.156863          NaN          NaN
Indiana                       NaN  227.836957          NaN          NaN
Iowa                          NaN  100.676768          NaN          NaN
Kansas                        NaN   95.161905          NaN          NaN
Kentucky                      NaN         NaN   114.091667          NaN
Louisiana                     NaN         NaN   227.703125          NaN
Maine                  215.187500         NaN          NaN          NaN
Maryland                      NaN         NaN   769.208333          NaN
Massachusetts         1331.928571         NaN          NaN          NaN
Michigan                      NaN  350.626506          NaN          NaN
Minnesota                     NaN  201.149425          NaN          NaN
Mississippi                   NaN         NaN   114.890244          NaN
Missouri                      NaN  165.321739          NaN          NaN
Montana                       NaN         NaN          NaN    54.785714
Nebraska                      NaN   70.053763          NaN          NaN
Nevada                        NaN         NaN          NaN   523.058824
New Hampshire          326.900000         NaN          NaN          NaN
New Jersey            1263.285714         NaN          NaN          NaN
New Mexico                    NaN         NaN          NaN   201.484848
New York               990.548387         NaN          NaN          NaN
North Carolina                NaN         NaN   299.140000          NaN
North Dakota                  NaN   44.169811          NaN          NaN
Ohio                          NaN  395.556818          NaN          NaN
Oklahoma                      NaN         NaN   170.701299          NaN
Oregon                        NaN         NaN          NaN   329.916667
Pennsylvania           538.820896         NaN          NaN          NaN
Rhode Island           575.000000         NaN          NaN          NaN
South Carolina                NaN         NaN   308.260870          NaN
South Dakota                  NaN   45.939394          NaN          NaN
Tennessee                     NaN         NaN   206.978947          NaN
Texas                         NaN         NaN   365.224409          NaN
Utah                          NaN         NaN          NaN   474.206897
Vermont                118.142857         NaN          NaN          NaN
Virginia                      NaN         NaN   193.368421          NaN
Washington                    NaN         NaN          NaN   570.358974
West Virginia                 NaN         NaN    92.800000          NaN
Wisconsin                     NaN  243.861111          NaN          NaN
Wyoming                       NaN         NaN          NaN    86.739130

In [24]:
# The GroupBy object supports iteration, generating a sequence of 2-tuples
#in this example, 

# using the groupby function
# 1) split
for group, frame in df.groupby('STNAME'):
    # groupby returns a tuple. The first value is the key that is being grouped by,
    # the second is a dataframe found for that group

    # now the apply step is to do the actual calculation
    avg = np.average(frame['CENSUS2010POP'])
    print('state: '+ group + " avg pop: " + str(avg))

state: Alabama avg pop: 71339.34328358209
state: Alaska avg pop: 24490.724137931036
state: Arizona avg pop: 426134.4666666667
state: Arkansas avg pop: 38878.90666666667
state: California avg pop: 642309.5862068966
state: Colorado avg pop: 78581.1875
state: Connecticut avg pop: 446762.125
state: Delaware avg pop: 299311.3333333333
state: District of Columbia avg pop: 601723.0
state: Florida avg pop: 280616.5671641791
state: Georgia avg pop: 60928.63522012578
state: Hawaii avg pop: 272060.2
state: Idaho avg pop: 35626.86363636364
state: Illinois avg pop: 125790.50980392157
state: Indiana avg pop: 70476.10869565218
state: Iowa avg pop: 30771.262626262625
state: Kansas avg pop: 27172.55238095238
state: Kentucky avg pop: 36161.39166666667
state: Louisiana avg pop: 70833.9375
state: Maine avg pop: 83022.5625
state: Maryland avg pop: 240564.66666666666
state: Massachusetts avg pop: 467687.78571428574
state: Michigan avg pop: 119080.0
state: Minnesota avg pop: 60964.65517241379
state: Mississippi avg pop: 36186.54878048781
state: Missouri avg pop: 52077.62608695652
state: Montana avg pop: 17668.125
state: Nebraska avg pop: 19638.075268817203
state: Nevada avg pop: 158855.9411764706
state: New Hampshire avg pop: 131647.0
state: New Jersey avg pop: 418661.61904761905
state: New Mexico avg pop: 62399.36363636364
state: New York avg pop: 312550.03225806454
state: North Carolina avg pop: 95354.83
state: North Dakota avg pop: 12690.396226415094
state: Ohio avg pop: 131096.63636363635
state: Oklahoma avg pop: 48718.844155844155
state: Oregon avg pop: 106418.72222222222
state: Pennsylvania avg pop: 189587.74626865672
state: Rhode Island avg pop: 210513.4
state: South Carolina avg pop: 100551.39130434782
state: South Dakota avg pop: 12336.060606060606
state: Tennessee avg pop: 66801.1052631579
state: Texas avg pop: 98998.27165354331
state: Utah avg pop: 95306.37931034483
state: Vermont avg pop: 44695.78571428572
state: Virginia avg pop: 60111.29323308271
state: Washington avg pop: 172424.10256410256
state: West Virginia avg pop: 33690.8
state: Wisconsin avg pop: 78985.91666666667
state: Wyoming avg pop: 24505.478260869564

In [ ]:
# you can also group by a function which might be useful for processing a large number of records

In [29]:
# airbnb example
# grouping by two columns. Cancellation Policy and Review scores
df = pd.read_csv('../resources/week-3/datasets/listings.csv')
df.head()
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'cancellation_policy', 'require_guest_profile_picture',
       'require_guest_phone_verification', 'calculated_host_listings_count',
       'reviews_per_month'],
      dtype='object')

In [30]:
# method to group both columns would be to promote them to a multi-index
df = df.set_index(['cancellation_policy', 'review_scores_value'])
for group, frame in df.groupby(level=(0,1)):
    print(group)

('flexible', 2.0)
('flexible', 4.0)
('flexible', 5.0)
('flexible', 6.0)
('flexible', 7.0)
('flexible', 8.0)
('flexible', 9.0)
('flexible', 10.0)
('moderate', 2.0)
('moderate', 4.0)
('moderate', 6.0)
('moderate', 7.0)
('moderate', 8.0)
('moderate', 9.0)
('moderate', 10.0)
('strict', 2.0)
('strict', 3.0)
('strict', 4.0)
('strict', 5.0)
('strict', 6.0)
('strict', 7.0)
('strict', 8.0)
('strict', 9.0)
('strict', 10.0)
('super_strict_30', 6.0)
('super_strict_30', 7.0)
('super_strict_30', 8.0)
('super_strict_30', 9.0)
('super_strict_30', 10.0)