In [8]:
import pandas as pd

sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
print(sdata)
obj1 = pd.Series(sdata)
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj2 = pd.Series(sdata, index=states)
print(obj2)
obj3 = pd.isnull(obj2)
print(obj3)

obj2['California'] == None

obj3['California']

x=obj2['California']
obj2['California'] != x

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

True

In [11]:
import pandas as pd
d = {
    '1': 'Alice',
    '2': 'Bob',
    '3': 'Rita',
    '4': 'Molly',
    '5': 'Ryan'
}
S = pd.Series(d)

S.iloc[0:3]

1    Alice
2      Bob
3     Rita
dtype: object

In [29]:
record1 = pd.Series({'mrn': '1001', 'metric': 'pain', 'score': 10})
record2 = pd.Series({'mrn': '1002', 'metric': 'hoos', 'score': 85.7})
record3 = pd.Series({'mrn': '1003', 'metric': 'pain', 'score': 5})
df = pd.DataFrame ([record1, record2, record3])
df.columns
# df.columns = [x.upper().strip() for x in df.columns]
df.rename(mapper=lambda x: x.upper(), axis = 1)
df

    mrn metric  score
0  1001   pain   10.0
1  1002   hoos   85.7
2  1003   pain    5.0

In [35]:
df[df['score']>50]
df.where(df['score']>50)
df.where(df['score']>50).dropna()

    mrn metric  score
1  1002   hoos   85.7

In [39]:
df.drop(0)

    mrn metric  score
1  1002   hoos   85.7
2  1003   pain    5.0

In [53]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})

label = 2
s1.loc[label]
s1.iteritems()
s1.append(s2)

1        Alice
2         Jack
3        Molly
Alice        1
Jack         2
Molly        3
dtype: object

In [70]:
testdf = pd.DataFrame({'one':[1,2,3,4,5],
             'two':[6,7,8,9,10]})
testdf
testdf[testdf['one'].gt(1) & testdf['one'].lt(4)]
testdf[testdf['one'].gt(1) & testdf['one'].lt(4)]
testdf[(testdf['one']>1) & (testdf['one']<4)] 
testdf[(testdf['one'].isin(range(2,4)))]

#this one returns a boolean mask rather than a dataset
(testdf['one']>1) & (testdf['one']<4)

0    False
1     True
2     True
3    False
4    False
Name: one, dtype: bool

In [85]:
testdf.index=['Dr_A', 'Dr_X', 'Dr_B', 'Dr_G', 'Dr_O']
print(testdf)
testdf.T['Dr_B']

      one  two
Dr_A    1    6
Dr_X    2    7
Dr_B    3    8
Dr_G    4    9
Dr_O    5   10

one    3
two    8
Name: Dr_B, dtype: int64