In [46]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('assets/NISPUF17.csv')

#this is a huge dataset, and I only need 1 of the columns
df.shape

<bound method NDFrame.head of        Unnamed: 0  SEQNUMC  SEQNUMHH  PDAT    PROVWT_D     RDDWT_D  STRATUM  \
0               1   128521     12852     2         NaN  235.916956     1031
1               2    10741      1074     2         NaN  957.353840     1068
2               3   220011     22001     2         NaN  189.611299     1050
3               4    86131      8613     1  675.430817  333.447418     1040
4               5   227141     22714     1  482.617748  278.768063     1008
...           ...      ...       ...   ...         ...         ...      ...
28460       28461    19141      1914     2         NaN   21.188088     2062
28461       28462   121401     12140     2         NaN   26.503010     2004
28462       28463   128831     12883     2         NaN   27.520652     2004
28463       28464    82921      8292     2         NaN   22.390587     2062
28464       28465   244621     24462     2         NaN   27.520652     2004

       YEAR  AGECPOXR  HAD_CPOX  ...  XVRCTY2  XVRCTY3  XVRCTY4  XVRCTY5  \
0      2017       NaN         2  ...                        NaN      NaN
1      2017       NaN         2  ...                        NaN      NaN
2      2017       NaN         2  ...                        NaN      NaN
3      2017       NaN         2  ...                        NaN      NaN
4      2017       NaN         2  ...                        NaN      NaN
...     ...       ...       ...  ...      ...      ...      ...      ...
28460  2017       NaN         2  ...                        NaN      NaN
28461  2017       NaN         2  ...                        NaN      NaN
28462  2017       NaN         2  ...                        NaN      NaN
28463  2017       NaN         2  ...                        NaN      NaN
28464  2017       NaN         2  ...                        NaN      NaN

       XVRCTY6  XVRCTY7  XVRCTY8  XVRCTY9  INS_STAT2_I  INS_BREAK_I
0          NaN      NaN      NaN      NaN          NaN          NaN
1          NaN      NaN      NaN      NaN          NaN          NaN
2          NaN      NaN      NaN      NaN          NaN          NaN
3          NaN      NaN      NaN      NaN          1.0          2.0
4          NaN      NaN      NaN      NaN          2.0          1.0
...        ...      ...      ...      ...          ...          ...
28460      NaN      NaN      NaN      NaN          NaN          NaN
28461      NaN      NaN      NaN      NaN          NaN          NaN
28462      NaN      NaN      NaN      NaN          NaN          NaN
28463      NaN      NaN      NaN      NaN          NaN          NaN
28464      NaN      NaN      NaN      NaN          NaN          NaN

[28465 rows x 454 columns]>

In [33]:
#question1 answer
def proportion_of_education():
    # YOUR CODE HERE
    import pandas as pd
    df = pd.read_csv('assets/NISPUF17.csv')
    #creating a new dataframe with only the column of interest
    df_edu = df.filter(['EDUC1'], axis=1)
    # convert numeric responses to meamningful names
    df_edu.replace([1,2,3,4],['less than high school','high school','more than high school but not college', 'college'], inplace=True)
    # get counts and convert to dictionary
    educ1_counts = df_edu['EDUC1'].value_counts(normalize=True).to_dict()
    return (educ1_counts)
    raise NotImplementedError()
    
print(proportion_of_education())

{'college': 0.47974705779026877, 'more than high school but not college': 0.24588090637625154, 'high school': 0.172352011241876, 'less than high school': 0.10202002459160373}

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

CBF_01 – child ever fed breast milk
- Yes
- No
- Don’t know
- Missing

P_NUMFLU: NUMBER OF SEASONAL FLUCONTAINING VACCINATIONS BY 36 MONTHS OF AGE...

In [49]:
import pandas as pd
df = pd.read_csv('assets/NISPUF17.csv')
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [60]:
# def average_influenza_doses():
# YOUR CODE HERE
# import pandas as pd
# df = pd.read_csv('assets/NISPUF17.csv')
#strategy
# create a data set with columns XCBF_01 and P_NUMFLU dropping any NA values
df_vax = df.filter(['CBF_01','P_NUMFLU'], axis=1).dropna()


# boolean masking for breast fed yes or breastfed no
# create a tuple with average of flu vaccinations group by breastfed
# return
# raise NotImplementedError()

   CBF_01  P_NUMFLU
3       2       3.0
4       1       0.0
6       1       0.0
7       1       0.0
8       1       0.0

In [70]:
# replace CBF_01 with meaningful values (not necessary for the problem, but good for readability)
# example df.replace({'A': {0: 100, 4: 400}})
df_vax.replace({'CBF_01':{1:'Yes', 2:'No'}}, inplace=True)
df_vax.head()

  CBF_01  P_NUMFLU
3     No       3.0
4    Yes       0.0
6    Yes       0.0
7    Yes       0.0
8    Yes       0.0

In [84]:
# df.groupby('A').mean()
vax_mask = df_vax['CBF_01'].isin(['Yes','No'])
vax_mask.head()
df_vax_mean = df_vax.where(vax_mask).groupby('CBF_01').mean().sort_values('CBF_01', axis=0, ascending = False)
df_vax_mean
#df_vax.groupby('CBF_01').mean()

        P_NUMFLU
CBF_01
Yes     1.879919
No      1.596395

In [85]:
# tuple(list(open_reqs['REQ_NUM']))
vax_rate = tuple(list(df_vax_mean['P_NUMFLU']))
vax_rate

(1.8799187420058687, 1.5963945918878317)

# Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex.

This function should return a dictionary in the form of (use the correct numbers):

    {"male":0.2,
    "female":0.4}
Note: To aid in verification, the chickenpox_by_sex()['female'] value the autograder is looking for starts with the digits 0.0077.

In [88]:
# constant: vaccinated at least 1 dose
# variables: gender, contracted cihicken pox (y/n)
# vaccinated (varicella is the chickenpox vaccine)
# P_NUMVRC – total number of varicella doses
# SEX: Male, Female
# HAD_CPOX: Yes, No, Don’t know, Refused, Missing
# calculation: by gender, chickenpox=y/chickenpox=n
# strategy
# isolate the columns of interest: Vaccination, Gender, ChickenPox
# boolean mask for vaccination = True
# note, we may be able to do this in the original column selection
# it would be good to have three columns: gender, chickenpox-yes, chickenpox-no
# calculate ratio, (chickenpox-yes/chickenpox-no) grouping by gender
import pandas as pd
df = pd.read_csv('assets/NISPUF17.csv')

df_varicella = df.filter(['SEX','HAD_CPOX', 'P_NUMVRC'], axis=1).dropna()
df_varicella.head()

   SEX  HAD_CPOX  P_NUMVRC
3    2         2       1.0
4    2         2       0.0
6    2         2       1.0
7    2         2       0.0
8    1         1       0.0

In [119]:
df_varicella.replace({'SEX':{1:'Male', 2:'Female'}, 'HAD_CPOX':{1:'Yes', 2:'No'}}, inplace=True)
df_varicella.head()
df_varicella.HAD_CPOX.unique()
#shows that 'HAD_CPOX' has an additional value that we will want to drop

array(['No', 'Yes', 77], dtype=object)

In [121]:
df_varicella.drop(df_varicella[df_varicella['HAD_CPOX']==77].index, inplace=True)
df_varicella.HAD_CPOX.unique()

array(['No', 'Yes'], dtype=object)

In [125]:
df_varicella.head()

      SEX HAD_CPOX  P_NUMVRC
3  Female       No       1.0
4  Female       No       0.0
6  Female       No       1.0
7  Female       No       0.0
8    Male      Yes       0.0

In [126]:
# example multi mask:  df[(df['chance of admit'] > 0.7) & (df['chance of admit'] < 0.9)]
df_v_mask=df_varicella['P_NUMVRC'].gt(0)   
df_v_mask.head()

3     True
4    False
6     True
7    False
8    False
Name: P_NUMVRC, dtype: bool

In [127]:
df_v_masked = df_varicella.where(df_v_mask).dropna().drop(columns='P_NUMVRC', axis=1)
df_v_masked.head()

       SEX HAD_CPOX
3   Female       No
6   Female       No
10    Male       No
12    Male       No
16    Male       No

In [128]:
df2=df_v_masked.groupby(['SEX', 'HAD_CPOX']).size().reset_index(name='counts')
# df_v_masked.head()

      SEX HAD_CPOX  counts
0  Female       No    6802
1  Female      Yes      53
2    Male       No    7028
3    Male      Yes      68

In [149]:
# This function should return a dictionary in the form of (use the correct numbers):

# {"male":0.2,
# "female":0.4}

# I am sure there is a very pandas way to do this. But here's a brute force way
ratios = {"male":(df2.iloc[3].counts)/(df2.iloc[2].counts),'female':(df2.iloc[1].counts)/(df2.iloc[0].counts)}
ratios

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The had_chickenpox_column is either 1 (for yes) or 2 (for no), and the num_chickenpox_vaccine_column is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., corr > 0) means that an increase in had_chickenpox_column (which means more no’s) would also increase the values of num_chickenpox_vaccine_column (which means more doses of vaccine). If there is a negative correlation (e.g., corr < 0), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, pval is the probability that we observe a correlation between had_chickenpox_column and num_chickenpox_vaccine_column which is greater than or equal to a particular value occurred by chance. A small pval means that the observed correlation is highly unlikely to occur by chance. In this case, pval should be very small (will end in e-18 indicating a very small number).

[1] This isn’t really the full picture, since we are not looking at when the dose was given. It’s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [154]:
# strategy:
# swt up a dataframe with the two columns above,
# dropping na's and clearing out all values except yes/no in the had_chickenpox column
# then run the pval
import pandas as pd
df = pd.read_csv('assets/NISPUF17.csv')
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [163]:
df_pox = df.filter(['HAD_CPOX', 'P_NUMVRC'], axis=1).dropna()
#inclide rows only where HAD_CPOX is 1 or 2
df_pox = df_pox[df_pox['HAD_CPOX'].isin([1, 2])]
df_pox.head()

   HAD_CPOX  P_NUMVRC
3         2       1.0
4         2       0.0
6         2       1.0
7         2       0.0
8         1       0.0

In [174]:
#calculate the correlation
from scipy import stats
df_pox.sort_index(inplace=True)
corr, pval=stats.pearsonr(df_pox["HAD_CPOX"],df_pox["P_NUMVRC"])
corr

0.07044873460148018

In [181]:
pval

(0.07044873460148018, 2.7780263182891086e-18)